In [1]:
#Import python libraries
import dvc.api
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os

In [4]:
# import requiered module
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from load_data import LoadData
from preprocessing import Preprocess
from plot_data import PlotData

In [6]:
loader = LoadData()
preprocess = Preprocess()
plot = PlotData()

In [34]:
train_path = 'data/train_cleaned.csv'
test_path = 'data/test_cleaned.csv'
repo = 'https://github.com/yonamg/Pharmaceutical-Sales-Prediction'
tra_ver = '48de72c'
tst_ver = '3e8c890'

In [35]:
train_url = dvc.api.get_url(
    path=train_path,
    repo=repo,
    rev=tra_ver
)
print(train_url)

C:\.dvc\tmp\pharma_data\68\bcf942892d916e7cde95664368852d

In [36]:
# read csv files 
train_df = loader.read_csv(train_url)

C:\Users\Machine\Documents\Week3\Pharmaceutical-Sales-Prediction\scripts\load_data.py:77: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file)

In [37]:
test_url = dvc.api.get_url(
    path=test_path,
    repo=repo,
    rev=tst_ver
)
print(test_url)

C:\.dvc\tmp\pharma_data\3a\fd9fd6d662c1a63c83b4bac8ed38d1

In [39]:
# read csv files 
test_df = loader.read_csv(test_url)

C:\Users\Machine\Documents\Week3\Pharmaceutical-Sales-Prediction\scripts\load_data.py:77: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file)

In [40]:
train_df.sort_values(["Store","Date"], ignore_index=True, inplace=True)
test_df.sort_values(["Store","Date"], ignore_index=True, inplace=True)

Set data as index

In [41]:
train_df.set_index('Date', inplace=True)
test_df.set_index('Date', inplace=True)

In [42]:
train_df.head()

,Unnamed: 0,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,...,Promo2SinceYear,Year,Month,Day,weekday,weekofyear,weekend,PromoInterval,Assortment,StoreType
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,1016095,1,1,0.0,0,0,a,1,1270.0,9.0,...,2012.0,2013,1,1,1,1,0,1,0,2
2013-01-02,1014980,1,2,5530.0,1,0,0,1,1270.0,9.0,...,2012.0,2013,1,2,2,1,0,1,0,2
2013-01-03,1013865,1,3,4327.0,1,0,0,1,1270.0,9.0,...,2012.0,2013,1,3,3,1,0,1,0,2
2013-01-04,1012750,1,4,4486.0,1,0,0,1,1270.0,9.0,...,2012.0,2013,1,4,4,1,0,1,0,2
2013-01-05,1011635,1,5,4997.0,1,0,0,1,1270.0,9.0,...,2012.0,2013,1,5,5,1,1,1,0,2

In [43]:
train_df.columns

Index(['Unnamed: 0', 'Store', 'DayOfWeek', 'Sales', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'Year', 'Month', 'Day', 'weekday',
       'weekofyear', 'weekend', 'PromoInterval', 'Assortment', 'StoreType'],
      dtype='object')

In [44]:
test_df.head()

,Unnamed: 0,Id,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,weekday,weekofyear,weekend
Date,,,,,,,,,,,,,,,,,,,,,
2015-08-01,40232,40233,1,5,1.0,0,0,1,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,8,1,5,31,1
2015-08-02,39376,39377,1,6,0.0,0,0,1,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,8,2,6,31,1
2015-08-03,38520,38521,1,0,1.0,1,0,1,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,8,3,0,32,1
2015-08-04,37664,37665,1,1,1.0,1,0,1,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,8,4,1,32,0
2015-08-05,36808,36809,1,2,1.0,1,0,1,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,8,5,2,32,0

Remove ID Column from test dataframe